{
  "openapi": "3.0.3",
  "info": { "title": "CodeQR.io API", "description": "SaaS platform for creating dynamic QR Codes, trackable short links, and interactive pages, focused on automation, analytics, and engagement.", "version": "0.0.1", "contact": { "name": "CodeQR.io Support", "email": "contact@codeqr.io", "url": "https://codeqr.io/api" }, "license": { "name": "AGPL-3.0 license" } },
  "servers": [ { "url": "https://api.codeqr.io", "description": "Production API" } ],
  "paths":
    {
      "/links":
        {
          "post":
            {
              "operationId": "createLink",
              "x-speakeasy-name-override": "create",
              "x-speakeasy-usage-example": true,
              "summary": "Create a new link",
              "description": "Create a new link for the authenticated workspace.",
              "tags": [ "Links" ],
              "security": [ { "token": [] } ],
              "requestBody": { "content": { "application/json": { "schema": { "type": "object", "properties": { "url": { "type": "string", "description": "The destination URL of the short link.", "example": "https://google.com" }, "domain": { "type": "string", "description": "The domain of the short link. If not provided, the main domain of the project will be used (or `codeqr.link` if the project has no domains)." }, "key": { "type": "string", "description": "The slug of the short link. If not provided, a random 7-character slug will be generated." }, "externalId": { "type": "string", "nullable": true, "minLength": 1, "maxLength": 255, "description": "This is the ID of the link in your database. If set, it can be used to identify the link in the future. Must be prefixed with `ext_` when passed as a query parameter.", "example": "123456" }, "prefix": { "type": "string", "description": "The prefix of the short link slug for randomly generated keys (for example, if the prefix is `/c/`, the generated keys will be in the format `/c/:key`). Will be ignored if `key` is provided." }, "trackConversion": { "type": "boolean", "default": false, "description": "Whether to track conversions for the short link." }, "useAsTemplate": { "type": "boolean", "default": false, "description": "Whether this link should be used as a reusable template." }, "archived": { "type": "boolean", "default": false, "description": "Whether the short link is archived." }, "expiresAt": { "type": "string", "nullable": true, "format": "date-time", "description": "The date and time when the short link will expire in ISO-8601 format. Must be in the future." }, "expiredUrl": { "type": "string", "nullable": true, "description": "The URL to redirect to when the short link expires." }, "password": { "type": "string", "nullable": true, "default": null, "description": "The password required to access the short link destination URL." }, "proxy": { "type": "boolean", "default": false, "description": "Whether the short link uses the custom link preview feature." }, "title": { "type": "string", "nullable": true, "default": null, "description": "The title of the short link generated via `api.codeqr.io/metatags`. Will be used for custom link preview if `proxy` is true." }, "description": { "type": "string", "nullable": true, "default": null, "description": "The description of the short link generated via `api.codeqr.io/metatags`. Will be used for custom link preview if `proxy` is true." }, "image": { "type": "string", "nullable": true, "default": null, "description": "The image of the short link generated via `api.codeqr.io/metatags`. Will be used for custom link preview if `proxy` is true." }, "video": { "type": "string", "nullable": true, "default": null, "description": "The video of the short link." }, "rewrite": { "type": "boolean", "default": false, "description": "Whether the short link uses link cloaking." }, "ios": { "type": "string", "nullable": true, "default": null, "description": "The iOS destination URL for the short link for iOS device targeting." }, "android": { "type": "string", "nullable": true, "default": null, "description": "The Android destination URL for the short link for Android device targeting." }, "geo": { "type": "object", "nullable": true, "properties": { "AF": { "type": "string" }, "AL": { "type": "string" }, "DZ": { "type": "string" }, "AS": { "type": "string" }, "AD": { "type": "string" }, "AO": { "type": "string" }, "AI": { "type": "string" }, "AQ": { "type": "string" }, "AG": { "type": "string" }, "AR": { "type": "string" }, "AM": { "type": "string" }, "AW": { "type": "string" }, "AU": { "type": "string" }, "AT": { "type": "string" }, "AZ": { "type": "string" }, "BS": { "type": "string" }, "BH": { "type": "string" }, "BD": { "type": "string" }, "BB": { "type": "string" }, "BY": { "type": "string" }, "BE": { "type": "string" }, "BZ": { "type": "string" }, "BJ": { "type": "string" }, "BM": { "type": "string" }, "BT": { "type": "string" }, "BO": { "type": "string" }, "BA": { "type": "string" }, "BW": { "type": "string" }, "BV": { "type": "string" }, "BR": { "type": "string" }, "IO": { "type": "string" }, "BN": { "type": "string" }, "BG": { "type": "string" }, "BF": { "type": "string" }, "BI": { "type": "string" }, "KH": { "type": "string" }, "CM": { "type": "string" }, "CA": { "type": "string" }, "CV": { "type": "string" }, "KY": { "type": "string" }, "CF": { "type": "string" }, "TD": { "type": "string" }, "CL": { "type": "string" }, "CN": { "type": "string" }, "CX": { "type": "string" }, "CC": { "type": "string" }, "CO": { "type": "string" }, "KM": { "type": "string" }, "CG": { "type": "string" }, "CD": { "type": "string" }, "CK": { "type": "string" }, "CR": { "type": "string" }, "CI": { "type": "string" }, "HR": { "type": "string" }, "CU": { "type": "string" }, "CY": { "type": "string" }, "CZ": { "type": "string" }, "DK": { "type": "string" }, "DJ": { "type": "string" }, "DM": { "type": "string" }, "DO": { "type": "string" }, "EC": { "type": "string" }, "EG": { "type": "string" }, "SV": { "type": "string" }, "GQ": { "type": "string" }, "ER": { "type": "string" }, "EE": { "type": "string" }, "ET": { "type": "string" }, "FK": { "type": "string" }, "FO": { "type": "string" }, "FJ": { "type": "string" }, "FI": { "type": "string" }, "FR": { "type": "string" }, "GF": { "type": "string" }, "PF": { "type": "string" }, "TF": { "type": "string" }, "GA": { "type": "string" }, "GM": { "type": "string" }, "GE": { "type": "string" }, "DE": { "type": "string" }, "GH": { "type": "string" }, "GI": { "type": "string" }, "GR": { "type": "string" }, "GL": { "type": "string" }, "GD": { "type": "string" }, "GP": { "type": "string" }, "GU": { "type": "string" }, "GT": { "type": "string" }, "GN": { "type": "string" }, "GW": { "type": "string" }, "GY": { "type": "string" }, "HT": { "type": "string" }, "HM": { "type": "string" }, "VA": { "type": "string" }, "HN": { "type": "string" }, "HK": { "type": "string" }, "HU": { "type": "string" }, "IS": { "type": "string" }, "IN": { "type": "string" }, "ID": { "type": "string" }, "IR": { "type": "string" }, "IQ": { "type": "string" }, "IE": { "type": "string" }, "IL": { "type": "string" }, "IT": { "type": "string" }, "JM": { "type": "string" }, "JP": { "type": "string" }, "JO": { "type": "string" }, "KZ": { "type": "string" }, "KE": { "type": "string" }, "KI": { "type": "string" }, "KP": { "type": "string" }, "KR": { "type": "string" }, "KW": { "type": "string" }, "KG": { "type": "string" }, "LA": { "type": "string" }, "LV": { "type": "string" }, "LB": { "type": "string" }, "LS": { "type": "string" }, "LR": { "type": "string" }, "LY": { "type": "string" }, "LI": { "type": "string" }, "LT": { "type": "string" }, "LU": { "type": "string" }, "MO": { "type": "string" }, "MG": { "type": "string" }, "MW": { "type": "string" }, "MY": { "type": "string" }, "MV": { "type": "string" }, "ML": { "type": "string" }, "MT": { "type": "string" }, "MH": { "type": "string" }, "MQ": { "type": "string" }, "MR": { "type": "string" }, "MU": { "type": "string" }, "YT": { "type": "string" }, "MX": { "type": "string" }, "FM": { "type": "string" }, "MD": { "type": "string" }, "MC": { "type": "string" }, "MN": { "type": "string" }, "MS": { "type": "string" }, "MA": { "type": "string" }, "MZ": { "type": "string" }, "MM": { "type": "string" }, "NA": { "type": "string" }, "NR": { "type": "string" }, "NP": { "type": "string" }, "NL": { "type": "string" }, "NC": { "type": "string" }, "NZ": { "type": "string" }, "NI": { "type": "string" }, "NE": { "type": "string" }, "NG": { "type": "string" }, "NU": { "type": "string" }, "NF": { "type": "string" }, "MK": { "type": "string" }, "MP": { "type": "string" }, "NO": { "type": "string" }, "OM": { "type": "string" }, "PK": { "type": "string" }, "PW": { "type": "string" }, "PS": { "type": "string" }, "PA": { "type": "string" }, "PG": { "type": "string" }, "PY": { "type": "string" }, "PE": { "type": "string" }, "PH": { "type": "string" }, "PN": { "type": "string" }, "PL": { "type": "string" }, "PT": { "type": "string" }, "PR": { "type": "string" }, "QA": { "type": "string" }, "RE": { "type": "string" }, "RO": { "type": "string" }, "RU": { "type": "string" }, "RW": { "type": "string" }, "SH": { "type": "string" }, "KN": { "type": "string" }, "LC": { "type": "string" }, "PM": { "type": "string" }, "VC": { "type": "string" }, "WS": { "type": "string" }, "SM": { "type": "string" }, "ST": { "type": "string" }, "SA": { "type": "string" }, "SN": { "type": "string" }, "SC": { "type": "string" }, "SL": { "type": "string" }, "SG": { "type": "string" }, "SK": { "type": "string" }, "SI": { "type": "string" }, "SB": { "type": "string" }, "SO": { "type": "string" }, "ZA": { "type": "string" }, "GS": { "type": "string" }, "ES": { "type": "string" }, "LK": { "type": "string" }, "SD": { "type": "string" }, "SR": { "type": "string" }, "SJ": { "type": "string" }, "SZ": { "type": "string" }, "SE": { "type": "string" }, "CH": { "type": "string" }, "SY": { "type": "string" }, "TW": { "type": "string" }, "TJ": { "type": "string" }, "TZ": { "type": "string" }, "TH": { "type": "string" }, "TL": { "type": "string" }, "TG": { "type": "string" }, "TK": { "type": "string" }, "TO": { "type": "string" }, "TT": { "type": "string" }, "TN": { "type": "string" }, "TR": { "type": "string" }, "TM": { "type": "string" }, "TC": { "type": "string" }, "TV": { "type": "string" }, "UG": { "type": "string" }, "UA": { "type": "string" }, "AE": { "type": "string" }, "GB": { "type": "string" }, "US": { "type": "string" }, "UM": { "type": "string" }, "UY": { "type": "string" }, "UZ": { "type": "string" }, "VU": { "type": "string" }, "VE": { "type": "string" }, "VN": { "type": "string" }, "VG": { "type": "string" }, "VI": { "type": "string" }, "WF": { "type": "string" }, "EH": { "type": "string" }, "YE": { "type": "string" }, "ZM": { "type": "string" }, "ZW": { "type": "string" }, "AX": { "type": "string" }, "BQ": { "type": "string" }, "CW": { "type": "string" }, "GG": { "type": "string" }, "IM": { "type": "string" }, "JE": { "type": "string" }, "ME": { "type": "string" }, "BL": { "type": "string" }, "MF": { "type": "string" }, "RS": { "type": "string" }, "SX": { "type": "string" }, "SS": { "type": "string" }, "XK": { "type": "string" } }, "additionalProperties": false, "default": null, "description": "Geographic targeting information for the short link in JSON format `{[COUNTRY]: https://example.com }`." }, "rules": { "type": "array", "nullable": true, "items": { "type": "object", "properties": { "attribute": { "type": "string", "enum": [ "device", "country", "utm_source", "utm_medium", "utm_campaign", "referrer", "language", "city", "region", "continent", "utm_term", "utm_content" ] }, "operator": { "type": "string", "enum": [ "equals", "not_equals" ] }, "value": { "type": "string", "minLength": 1, "maxLength": 190 }, "url": { "type": "string" } }, "required": [ "attribute", "operator", "value", "url" ] }, "maxItems": 20, "description": "Smart rules for conditional destination routing by request attribute." }, "doIndex": { "type": "boolean", "default": false, "description": "Allow search engines to index your short link. Default is `false` if not provided. Learn more: https://codeqr.link/noindex" }, "webhookIds": { "type": "array", "nullable": true, "items": { "type": "string" }, "description": "An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data." }, "publicStats": { "type": "boolean", "default": false, "description": "Whether the short link statistics are publicly accessible." }, "tagId": { "type": "string", "nullable": true, "description": "The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead.", "deprecated": true }, "tagIds": { "anyOf": [ { "type": "string" }, { "type": "array", "items": { "type": "string" } } ], "description": "The unique IDs of the tags assigned to the short link.", "example": [ "clux0rgak00011..." ] }, "tagNames": { "anyOf": [ { "type": "string" }, { "type": "array", "items": { "type": "string" } } ], "description": "The unique name of the tags assigned to the short link (case insensitive)." }, "folderId": { "type": "string", "nullable": true, "description": "The unique ID existing folder to assign the short link to." }, "comments": { "type": "string", "nullable": true, "description": "The comments for the short link." }, "flexible": { "type": "boolean", "default": false, "description": "Whether the short link is flexible." }, "preRedirection": { "type": "boolean", "default": false, "description": "Whether the short link has pre-redirection." }, "pageId": { "type": "string", "nullable": true, "description": "The ID of the page to redirect to before the link destination." }, "pageUrl": { "type": "string", "nullable": true, "description": "The URL of the page to redirect to before the link destination." }, "isFormMandatory": { "type": "boolean", "default": false, "description": "If the form is mandatory for the page." } }, "required": [ "url" ] } } } },
              "responses": { "200": { "description": "The created link", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LinkSchema" } } } }, "400": { "$ref": "#/components/responses/400" }, "401": { "$ref": "#/components/responses/401" }, "403": { "$ref": "#/components/responses/403" }, "404": { "$ref": "#/components/responses/404" }, "409": { "$ref": "#/components/responses/409" }, "410": { "$ref": "#/components/responses/410" }, "422": { "$ref": "#/components/responses/422" }, "429": { "$ref": "#/components/responses/429" }, "500": { "$ref": "#/components/responses/500" } },
              x-codeSamples:
                [
                  {
                      lang: JavaScript,
                      source: "import CodeQR from '@codeqr/ts';


                        const client = new CodeQR({

                        \  apiKey: process.env['CODEQR_API_KEY'], // This is the default and can be omitted

                        });


                        const link = await client.links.create({ url: 'https://google.com' });


                        console.log(link.id);"
                    }
                ]
            },
          "get":
            {
              "operationId": "getLinks",
              "x-speakeasy-name-override": "list",
              "x-speakeasy-pagination": { "type": "offsetLimit", "inputs": [ { "name": "page", "in": "parameters", "type": "page" }, { "name": "pageSize", "in": "parameters", "type": "limit" } ], "outputs": { "results": "$" } },
              "summary": "Retrieve a list of links",
              "description": "Retrieve a paginated list of links for the authenticated workspace.",
              "tags": [ "Links" ],
              "security": [ { "token": [] } ],
              "parameters": [ { "in": "query", "name": "projectSlug", "description": "The slug of the project to which the link belongs. For example, for `app.codeqr.io/acme`, the projectSlug is `acme`.", "schema": { "type": "string", "description": "The slug of the project to which the link belongs. For example, for `app.codeqr.io/acme`, the projectSlug is `acme`." } }, { "in": "query", "name": "domain", "description": "The domain to filter the links. For example, `ac.me`. If not provided, all links of the project will be returned.", "schema": { "type": "string", "description": "The domain to filter the links. For example, `ac.me`. If not provided, all links of the project will be returned." } }, { "in": "query", "name": "tagId", "description": "[OBSOLETO (use tagIds em vez disso)]: The unique ID of the tag assigned to the short link.", "schema": { "type": "string", "description": "[OBSOLETO (use tagIds em vez disso)]: The unique ID of the tag assigned to the short link.", "deprecated": true } }, { "in": "query", "name": "tagIds", "description": "The IDs of the tags to filter the links.", "schema": { "anyOf": [ { "type": "string" }, { "type": "array", "items": { "type": "string" } } ], "description": "The IDs of the tags to filter the links." } }, { "in": "query", "name": "tagNames", "description": "The unique name of the tags assigned to the short link (case insensitive).", "schema": { "anyOf": [ { "type": "string" }, { "type": "array", "items": { "type": "string" } } ], "description": "The unique name of the tags assigned to the short link (case insensitive)." } }, { "in": "query", "name": "folderId", "description": "The folder ID to filter the links by.", "schema": { "type": "string", "description": "The folder ID to filter the links by." } }, { "in": "query", "name": "search", "description": "The search term to filter the links. The search term will be matched against the short link slug and the destination URL.", "schema": { "type": "string", "description": "The search term to filter the links. The search term will be matched against the short link slug and the destination URL." } }, { "in": "query", "name": "userId", "description": "The ID of the user to filter by.", "schema": { "type": "string", "description": "The ID of the user to filter by." } }, { "in": "query", "name": "showArchived", "description": "If should include archived links in the response. The default is `false` if not provided.", "schema": { "type": "boolean", "default": "false", "description": "If should include archived links in the response. The default is `false` if not provided." } }, { "in": "query", "name": "password", "description": "The password to filter by.", "schema": { "type": "string", "description": "The password to filter by." } }, { "in": "query", "name": "expiresAt", "schema": { "type": "string", "nullable": true, "format": "date-time", "description": "The date and time the short link will expire in ISO-8601 format. Must be in the future." } }, { "in": "query", "name": "geo", "description": "Geographic segmentation information for the short link in JSON format `{[COUNTRY]: https://example.com }`.", "schema": { "type": "object", "nullable": true, "properties": { "AF": { "type": "string" }, "AL": { "type": "string" }, "DZ": { "type": "string" }, "AS": { "type": "string" }, "AD": { "type": "string" }, "AO": { "type": "string" }, "AI": { "type": "string" }, "AQ": { "type": "string" }, "AG": { "type": "string" }, "AR": { "type": "string" }, "AM": { "type": "string" }, "AW": { "type": "string" }, "AU": { "type": "string" }, "AT": { "type": "string" }, "AZ": { "type": "string" }, "BS": { "type": "string" }, "BH": { "type": "string" }, "BD": { "type": "string" }, "BB": { "type": "string" }, "BY": { "type": "string" }, "BE": { "type": "string" }, "BZ": { "type": "string" }, "BJ": { "type": "string" }, "BM": { "type": "string" }, "BT": { "type": "string" }, "BO": { "type": "string" }, "BA": { "type": "string" }, "BW": { "type": "string" }, "BV": { "type": "string" }, "BR": { "type": "string" }, "IO": { "type": "string" }, "BN": { "type": "string" }, "BG": { "type": "string" }, "BF": { "type": "string" }, "BI": { "type": "string" }, "KH": { "type": "string" }, "CM": { "type": "string" }, "CA": { "type": "string" }, "CV": { "type": "string" }, "KY": { "type": "string" }, "CF": { "type": "string" }, "TD": { "type": "string" }, "CL": { "type": "string" }, "CN": { "type": "string" }, "CX": { "type": "string" }, "CC": { "type": "string" }, "CO": { "type": "string" }, "KM": { "type": "string" }, "CG": { "type": "string" }, "CD": { "type": "string" }, "CK": { "type": "string" }, "CR": { "type": "string" }, "CI": { "type": "string" }, "HR": { "type": "string" }, "CU": { "type": "string" }, "CY": { "type": "string" }, "CZ": { "type": "string" }, "DK": { "type": "string" }, "DJ": { "type": "string" }, "DM": { "type": "string" }, "DO": { "type": "string" }, "EC": { "type": "string" }, "EG": { "type": "string" }, "SV": { "type": "string" }, "GQ": { "type": "string" }, "ER": { "type": "string" }, "EE": { "type": "string" }, "ET": { "type": "string" }, "FK": { "type": "string" }, "FO": { "type": "string" }, "FJ": { "type": "string" }, "FI": { "type": "string" }, "FR": { "type": "string" }, "GF": { "type": "string" }, "PF": { "type": "string" }, "TF": { "type": "string" }, "GA": { "type": "string" }, "GM": { "type": "string" }, "GE": { "type": "string" }, "DE": { "type": "string" }, "GH": { "type": "string" }, "GI": { "type": "string" }, "GR": { "type": "string" }, "GL": { "type": "string" }, "GD": { "type": "string" }, "GP": { "type": "string" }, "GU": { "type": "string" }, "GT": { "type": "string" }, "GN": { "type": "string" }, "GW": { "type": "string" }, "GY": { "type": "string" }, "HT": { "type": "string" }, "HM": { "type": "string" }, "VA": { "type": "string" }, "HN": { "type": "string" }, "HK": { "type": "string" }, "HU": { "type": "string" }, "IS": { "type": "string" }, "IN": { "type": "string" }, "ID": { "type": "string" }, "IR": { "type": "string" }, "IQ": { "type": "string" }, "IE": { "type": "string" }, "IL": { "type": "string" }, "IT": { "type": "string" }, "JM": { "type": "string" }, "JP": { "type": "string" }, "JO": { "type": "string" }, "KZ": { "type": "string" }, "KE": { "type": "string" }, "KI": { "type": "string" }, "KP": { "type": "string" }, "KR": { "type": "string" }, "KW": { "type": "string" }, "KG": { "type": "string" }, "LA": { "type": "string" }, "LV": { "type": "string" }, "LB": { "type": "string" }, "LS": { "type": "string" }, "LR": { "type": "string" }, "LY": { "type": "string" }, "LI": { "type": "string" }, "LT": { "type": "string" }, "LU": { "type": "string" }, "MO": { "type": "string" }, "MG": { "type": "string" }, "MW": { "type": "string" }, "MY": { "type": "string" }, "MV": { "type": "string" }, "ML": { "type": "string" }, "MT": { "type": "string" }, "MH": { "type": "string" }, "MQ": { "type": "string" }, "MR": { "type": "string" }, "MU": { "type": "string" }, "YT": { "type": "string" }, "MX": { "type": "string" }, "FM": { "type": "string" }, "MD": { "type": "string" }, "MC": { "type": "string" }, "MN": { "type": "string" }, "MS": { "type": "string" }, "MA": { "type": "string" }, "MZ": { "type": "string" }, "MM": { "type": "string" }, "NA": { "type": "string" }, "NR": { "type": "string" }, "NP": { "type": "string" }, "NL": { "type": "string" }, "NC": { "type": "string" }, "NZ": { "type": "string" }, "NI": { "type": "string" }, "NE": { "type": "string" }, "NG": { "type": "string" }, "NU": { "type": "string" }, "NF": { "type": "string" }, "MK": { "type": "string" }, "MP": { "type": "string" }, "NO": { "type": "string" }, "OM": { "type": "string" }, "PK": { "type": "string" }, "PW": { "type": "string" }, "PS": { "type": "string" }, "PA": { "type": "string" }, "PG": { "type": "string" }, "PY": { "type": "string" }, "PE": { "type": "string" }, "PH": { "type": "string" }, "PN": { "type": "string" }, "PL": { "type": "string" }, "PT": { "type": "string" }, "PR": { "type": "string" }, "QA": { "type": "string" }, "RE": { "type": "string" }, "RO": { "type": "string" }, "RU": { "type": "string" }, "RW": { "type": "string" }, "SH": { "type": "string" }, "KN": { "type": "string" }, "LC": { "type": "string" }, "PM": { "type": "string" }, "VC": { "type": "string" }, "WS": { "type": "string" }, "SM": { "type": "string" }, "ST": { "type": "string" }, "SA": { "type": "string" }, "SN": { "type": "string" }, "SC": { "type": "string" }, "SL": { "type": "string" }, "SG": { "type": "string" }, "SK": { "type": "string" }, "SI": { "type": "string" }, "SB": { "type": "string" }, "SO": { "type": "string" }, "ZA": { "type": "string" }, "GS": { "type": "string" }, "ES": { "type": "string" }, "LK": { "type": "string" }, "SD": { "type": "string" }, "SR": { "type": "string" }, "SJ": { "type": "string" }, "SZ": { "type": "string" }, "SE": { "type": "string" }, "CH": { "type": "string" }, "SY": { "type": "string" }, "TW": { "type": "string" }, "TJ": { "type": "string" }, "TZ": { "type": "string" }, "TH": { "type": "string" }, "TL": { "type": "string" }, "TG": { "type": "string" }, "TK": { "type": "string" }, "TO": { "type": "string" }, "TT": { "type": "string" }, "TN": { "type": "string" }, "TR": { "type": "string" }, "TM": { "type": "string" }, "TC": { "type": "string" }, "TV": { "type": "string" }, "UG": { "type": "string" }, "UA": { "type": "string" }, "AE": { "type": "string" }, "GB": { "type": "string" }, "US": { "type": "string" }, "UM": { "type": "string" }, "UY": { "type": "string" }, "UZ": { "type": "string" }, "VU": { "type": "string" }, "VE": { "type": "string" }, "VN": { "type": "string" }, "VG": { "type": "string" }, "VI": { "type": "string" }, "WF": { "type": "string" }, "EH": { "type": "string" }, "YE": { "type": "string" }, "ZM": { "type": "string" }, "ZW": { "type": "string" }, "AX": { "type": "string" }, "BQ": { "type": "string" }, "CW": { "type": "string" }, "GG": { "type": "string" }, "IM": { "type": "string" }, "JE": { "type": "string" }, "ME": { "type": "string" }, "BL": { "type": "string" }, "MF": { "type": "string" }, "RS": { "type": "string" }, "SX": { "type": "string" }, "SS": { "type": "string" }, "XK": { "type": "string" } }, "additionalProperties": false, "default": null, "description": "Geographic segmentation information for the short link in JSON format `{[COUNTRY]: https://example.com }`." } }, { "in": "query", "name": "ios", "description": "The iOS device to filter by.", "schema": { "type": "string", "description": "The iOS device to filter by." } }, { "in": "query", "name": "android", "description": "The Android device to filter by.", "schema": { "type": "string", "description": "The Android device to filter by." } }, { "in": "query", "name": "comments", "description": "The comments to filter by.", "schema": { "type": "string", "description": "The comments to filter by." } }, { "in": "query", "name": "withTags", "description": "If should include tags in the response. The default is `false` if not provided.", "schema": { "type": "boolean", "default": "false", "description": "If should include tags in the response. The default is `false` if not provided." } }, { "in": "query", "name": "trackConversion", "description": "If should include links with conversion tracking enabled. The default is `false` if not provided.", "schema": { "type": "boolean", "default": "false", "description": "If should include links with conversion tracking enabled. The default is `false` if not provided." } }, { "in": "query", "name": "useAsTemplate", "description": "Filter links marked as templates.", "schema": { "type": "boolean", "description": "Filter links marked as templates." } }, { "in": "query", "name": "hasPassword", "description": "Filter links that have password protection (any password)", "schema": { "type": "boolean", "description": "Filter links that have password protection (any password)" } }, { "in": "query", "name": "hasExpiration", "description": "Filter links that have expiration date (any expiration)", "schema": { "type": "boolean", "description": "Filter links that have expiration date (any expiration)" } }, { "in": "query", "name": "hasUTM", "description": "Filter links that have UTM parameters", "schema": { "type": "boolean", "description": "Filter links that have UTM parameters" } }, { "in": "query", "name": "hasCustomSocial", "description": "Filter links that have custom social media cards", "schema": { "type": "boolean", "description": "Filter links that have custom social media cards" } }, { "in": "query", "name": "hasGeo", "description": "Filter links that have geo-targeting", "schema": { "type": "boolean", "description": "Filter links that have geo-targeting" } }, { "in": "query", "name": "hasDevice", "description": "Filter links that have device targeting", "schema": { "type": "boolean", "description": "Filter links that have device targeting" } }, { "in": "query", "name": "hasComments", "description": "Filter links that have comments (any comments)", "schema": { "type": "boolean", "description": "Filter links that have comments (any comments)" } }, { "in": "query", "name": "hasTags", "description": "Filter links that have tags (any tags)", "schema": { "type": "boolean", "description": "Filter links that have tags (any tags)" } }, { "in": "query", "name": "createdAfter", "description": "Created after date (ISO string)", "schema": { "type": "string", "format": "date-time", "description": "Created after date (ISO string)" } }, { "in": "query", "name": "createdBefore", "description": "Created before date (ISO string)", "schema": { "type": "string", "format": "date-time", "description": "Created before date (ISO string)" } }, { "in": "query", "name": "expiresAfter", "description": "Expires after date (ISO string)", "schema": { "type": "string", "format": "date-time", "description": "Expires after date (ISO string)" } }, { "in": "query", "name": "expiresBefore", "description": "Expires before date (ISO string)", "schema": { "type": "string", "format": "date-time", "description": "Expires before date (ISO string)" } }, { "in": "query", "name": "clicksMin", "description": "Minimum number of clicks", "schema": { "type": "integer", "minimum": 0, "description": "Minimum number of clicks" } }, { "in": "query", "name": "clicksMax", "description": "Maximum number of clicks", "schema": { "type": "integer", "minimum": 0, "description": "Maximum number of clicks" } }, { "in": "query", "name": "utm_source", "description": "Filter by UTM source value", "schema": { "type": "string", "description": "Filter by UTM source value" } }, { "in": "query", "name": "utm_medium", "description": "Filter by UTM medium value", "schema": { "type": "string", "description": "Filter by UTM medium value" } }, { "in": "query", "name": "utm_campaign", "description": "Filter by UTM campaign value", "schema": { "type": "string", "description": "Filter by UTM campaign value" } }, { "in": "query", "name": "utm_content", "description": "Filter by UTM content value", "schema": { "type": "string", "description": "Filter by UTM content value" } }, { "in": "query", "name": "utm_term", "description": "Filter by UTM term value", "schema": { "type": "string", "description": "Filter by UTM term value" } }, { "in": "query", "name": "sort", "description": "The field to sort the links by. The default is `createdAt`, and sort order is always descending.", "schema": { "type": "string", "enum": [ "createdAt", "clicks", "lastClicked" ], "default": "createdAt", "description": "The field to sort the links by. The default is `createdAt`, and sort order is always descending." } }, { "in": "query", "name": "linkIds", "description": "Link IDs to filter by.", "schema": { "anyOf": [ { "type": "string" }, { "type": "array", "items": { "type": "string" } } ], "description": "Link IDs to filter by." } }, { "in": "query", "name": "page", "description": "The page number for pagination.", "schema": { "type": "number", "minimum": 0, "exclusiveMinimum": true, "default": 1, "description": "The page number for pagination.", "example": 1 } }, { "in": "query", "name": "pageSize", "description": "The number of items per page.", "schema": { "type": "number", "minimum": 0, "exclusiveMinimum": true, "maximum": 100, "default": 100, "description": "The number of items per page.", "example": 50 } } ],
              "responses": { "200": { "description": "A list of links", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/LinkSchema" } } } } }, "400": { "$ref": "#/components/responses/400" }, "401": { "$ref": "#/components/responses/401" }, "403": { "$ref": "#/components/responses/403" }, "404": { "$ref": "#/components/responses/404" }, "409": { "$ref": "#/components/responses/409" }, "410": { "$ref": "#/components/responses/410" }, "422": { "$ref": "#/components/responses/422" }, "429": { "$ref": "#/components/responses/429" }, "500": { "$ref": "#/components/responses/500" } },
              x-codeSamples:
                [
                  {
                      lang: JavaScript,
                      source: "import CodeQR from '@codeqr/ts';


                        const client = new CodeQR({

                        \  apiKey: process.env['CODEQR_API_KEY'], // This is the default and can be omitted

                        });


                        const links = await client.links.list();


                        console.log(links);"
                    }
                ]
            }
        },
      "/links/count": { "get": { "operationId": "getLinksCount", "x-speakeasy-name-override": "count", "summary": "Retrieve links count", "description": "Retrieve the number of links for the authenticated workspace.", "tags": [ "Links" ], "security": [ { "token": [] } ], "parameters": [ { "in": "query", "name": "projectSlug", "description": "The slug of the project to which the link belongs. For example, for `app.codeqr.io/acme`, the projectSlug is `acme`.", "schema": { "type": "string", "description": "The slug of the project to which the link belongs. For example, for `app.codeqr.io/acme`, the projectSlug is `acme`." } }, { "in": "query", "name": "domain", "description": "The domain to filter the links. For example, `ac.me`. If not provided, all links of the project will be returned.", "schema": { "type": "string", "description": "The domain to filter the links. For example, `ac.me`. If not provided, all links of the project will be returned." } }, { "in": "query", "name": "tagId", "description": "[OBSOLETO (use tagIds em vez disso)]: The unique ID of the tag assigned to the short link.", "schema": { "type": "string", "description": "[OBSOLETO (use tagIds em vez disso)]: The unique ID of the tag assigned to the short link.", "deprecated": true } }, { "in": "query", "name": "tagIds", "description": "The IDs of the tags to filter the links.", "schema": { "anyOf": [ { "type": "string" }, { "type": "array", "items": { "type": "string" } } ], "description": "The IDs of the tags to filter the links." } }, { "in": "query", "name": "tagNames", "description": "The unique name of the tags assigned to the short link (case insensitive).", "schema": { "anyOf": [ { "type": "string" }, { "type": "array", "items": { "type": "string" } } ], "description": "The unique name of the tags assigned to the short link (case insensitive)." } }, { "in": "query", "name": "folderId", "description": "The folder ID to filter the links by.", "schema": { "type": "string", "description": "The folder ID to filter the links by." } }, { "in": "query", "name": "search", "description": "The search term to filter the links. The search term will be matched against the short link slug and the destination URL.", "schema": { "type": "string", "description": "The search term to filter the links. The search term will be matched against the short link slug and the destination URL." } }, { "in": "query", "name": "userId", "description": "The ID of the user to filter by.", "schema": { "type": "string", "description": "The ID of the user to filter by." } }, { "in": "query", "name": "showArchived", "description": "If should include archived links in the response. The default is `false` if not provided.", "schema": { "type": "boolean", "default": "false", "description": "If should include archived links in the response. The default is `false` if not provided." } }, { "in": "query", "name": "password", "description": "The password to filter by.", "schema": { "type": "string", "description": "The password to filter by." } }, { "in": "query", "name": "expiresAt", "schema": { "type": "string", "nullable": true, "format": "date-time", "description": "The date and time the short link will expire in ISO-8601 format. Must be in the future." } }, { "in": "query", "name": "geo", "description": "Geographic segmentation information for the short link in JSON format `{[COUNTRY]: https://example.com }`.", "schema": { "type": "object", "nullable": true, "properties": { "AF": { "type": "string" }, "AL": { "type": "string" }, "DZ": { "type": "string" }, "AS": { "type": "string" }, "AD": { "type": "string" }, "AO": { "type": "string" }, "AI": { "type": "string" }, "AQ": { "type": "string" }, "AG": { "type": "string" }, "AR": { "type": "string" }, "AM": { "type": "string" }, "AW": { "type": "string" }, "AU": { "type": "string" }, "AT": { "type": "string" }, "AZ": { "type": "string" }, "BS": { "type": "string" }, "BH": { "type": "string" }, "BD": { "type": "string" }, "BB": { "type": "string" }, "BY": { "type": "string" }, "BE": { "type": "string" }, "BZ": { "type": "string" }, "BJ": { "type": "string" }, "BM": { "type": "string" }, "BT": { "type": "string" }, "BO": { "type": "string" }, "BA": { "type": "string" }, "BW": { "type": "string" }, "BV": { "type": "string" }, "BR": { "type": "string" }, "IO": { "type": "string" }, "BN": { "type": "string" }, "BG": { "type": "string" }, "BF": { "type": "string" }, "BI": { "type": "string" }, "KH": { "type": "string" }, "CM": { "type": "string" }, "CA": { "type": "string" }, "CV": { "type": "string" }, "KY": { "type": "string" }, "CF": { "type": "string" }, "TD": { "type": "string" }, "CL": { "type": "string" }, "CN": { "type": "string" }, "CX": { "type": "string" }, "CC": { "type": "string" }, "CO": { "type": "string" }, "KM": { "type": "string" }, "CG": { "type": "string" }, "CD": { "type": "string" }, "CK": { "type": "string" }, "CR": { "type": "string" }, "CI": { "type": "string" }, "HR": { "type": "string" }, "CU": { "type": "string" }, "CY": { "type": "string" }, "CZ": { "type": "string" }, "DK": { "type": "string" }, "DJ": { "type": "string" }, "DM": { "type": "string" }, "DO": { "type": "string" }, "EC": { "type": "string" }, "EG": { "type": "string" }, "SV": { "type": "string" }, "GQ": { "type": "string" }, "ER": { "type": "string" }, "EE": { "type": "string" }, "ET": { "type": "string" }, "FK": { "type": "string" }, "FO": { "type": "string" }, "FJ": { "type": "string" }, "FI": { "type": "string" }, "FR": { "type": "string" }, "GF": { "type": "string" }, "PF": { "type": "string" }, "TF": { "type": "string" }, "GA": { "type": "string" }, "GM": { "type": "string" }, "GE": { "type": "string" }, "DE": { "type": "string" }, "GH": { "type": "string" }, "GI": { "type": "string" }, "GR": { "type": "string" }, "GL": { "type": "string" }, "GD": { "type": "string" }, "GP": { "type": "string" }, "GU": { "type": "string" }, "GT": { "type": "string" }, "GN": { "type": "string" }, "GW": { "type": "string" }, "GY": { "type": "string" }, "HT": { "type": "string" }, "HM": { "type": "string" }, "VA": { "type": "string" }, "HN": { "type": "string" }, "HK": { "type": "string" }, "HU": { "type": "string" }, "IS": { "type": "string" }, "IN": { "type": "string" }, "ID": { "type": "string" }, "IR": { "type": "string" }, "IQ": { "type": "string" }, "IE": { "type": "string" }, "IL": { "type": "string" }, "IT": { "type": "string" }, "JM": { "type": "string" }, "JP": { "type": "string" }, "JO": { "type": "string" }, "KZ": { "type": "string" }, "KE": { "type": "string" }, "KI": { "type": "string" }, "KP": { "type": "string" }, "KR": { "type": "string" }, "KW": { "type": "string" }, "KG": { "type": "string" }, "LA": { "type": "string" }, "LV": { "type": "string" }, "LB": { "type": "string" }, "LS": { "type": "string" }, "LR": { "type": "string" }, "LY": { "type": "string" }, "LI": { "type": "string" }, "LT": { "type": "string" }, "LU": { "type": "string" }, "MO": { "type": "string" }, "MG": { "type": "string" }, "MW": { "type": "string" }, "MY": { "type": "string" }, "MV": { "type": "string" }, "ML": { "type": "string" }, "MT": { "type": "string" }, "MH": { "type": "string" }, "MQ": { "type": "string" }, "MR": { "type": "string" }, "MU": { "type": "string" }, "YT": { "type": "string" }, "MX": { "type": "string" }, "FM": { "type": "string" }, "MD": { "type": "string" }, "MC": { "type": "string" }, "MN": { "type": "string" }, "MS": { "type": "string" }, "MA": { "type": "string" }, "MZ": { "type": "string" }, "MM": { "type": "string" }, "NA": { "type": "string" }, "NR": { "type": "string" }, "NP": { "type": "string" }, "NL": { "type": "string" }, "NC": { "type": "string" }, "NZ": { "type": "string" }, "NI": { "type": "string" }, "NE": { "type": "string" }, "NG": { "type": "string" }, "NU": { "type": "string" }, "NF": { "type": "string" }, "MK": { "type": "string" }, "MP": { "type": "string" }, "NO": { "type": "string" }, "OM": { "type": "string" }, "PK": { "type": "string" }, "PW": { "type": "string" }, "PS": { "type": "string" }, "PA": { "type": "string" }, "PG": { "type": "string" }, "PY": { "type": "string" }, "PE": { "type": "string" }, "PH": { "type": "string" }, "PN": { "type": "string" }, "PL": { "type": "string" }, "PT": { "type": "string" }, "PR": { "type": "string" }, "QA": { "type": "string" }, "RE": { "type": "string" }, "RO": { "type": "string" }, "RU": { "type": "string" }, "RW": { "type": "string" }, "SH": { "type": "string" }, "KN": { "type": "string" }, "LC": { "type": "string" }, "PM": { "type": "string" }, "VC": { "type": "string" }, "WS": { "type": "string" }, "SM": { "type": "string" }, "ST": { "type": "string" }, "SA": { "type": "string" }, "SN": { "type": "string" }, "SC": { "type": "string" }, "SL": { "type": "string" }, "SG": { "type": "string" }, "SK": { "type": "string" }, "SI": { "type": "string" }, "SB": { "type": "string" }, "SO": { "type": "string" }, "ZA": { "type": "string" }, "GS": { "type": "string" }, "ES": { "type": "string" }, "LK": { "type": "string" }, "SD": { "type": "string" }, "SR": { "type": "string" }, "SJ": { "type": "string" }, "SZ": { "type": "string" }, "SE": { "type": "string" }, "CH": { "type": "string" }, "SY": { "type": "string" }, "TW": { "type": "string" }, "TJ": { "type": "string" }, "TZ": { "type": "string" }, "TH": { "type": "string" }, "TL": { "type": "string" }, "TG": { "type": "string" }, "TK": { "type": "string" }, "TO": { "type": "string" }, "TT": { "type": "string" }, "TN": { "type": "string" }, "TR": { "type": "string" }, "TM": { "type": "string" }, "TC": { "type": "string" }, "TV": { "type": "string" }, "UG": { "type": "string" }, "UA": { "type": "string" }, "AE": { "type": "string" }, "GB": { "type": "string" }, "US": { "type": "string" }, "UM": { "type": "string" }, "UY": { "type": "string" }, "UZ": { "type": "string" }, "VU": { "type": "string" }, "VE": { "type": "string" }, "VN": { "type": "string" }, "VG": { "type": "string" }, "VI": { "type": "string" }, "WF": { "type": "string" }, "EH": { "type": "string" }, "YE": { "type": "string" }, "ZM": { "type": "string" }, "ZW": { "type": "string" }, "AX": { "type": "string" }, "BQ": { "type": "string" }, "CW": { "type": "string" }, "GG": { "type": "string" }, "IM": { "type": "string" }, "JE": { "type": "string" }, "ME": { "type": "string" }, "BL": { "type": "string" }, "MF": { "type": "string" }, "RS": { "type": "string" }, "SX": { "type": "string" }, "SS": { "type": "string" }, "XK": { "type": "string" } }, "additionalProperties": false, "default": null, "description": "Geographic segmentation information for the short link in JSON format `{[COUNTRY]: https://example.com }`." } }, { "in": "query", "name": "ios", "description": "The iOS device to filter by.", "schema": { "type": "string", "description": "The iOS device to filter by." } }, { "in": "query", "name": "android", "description": "The Android device to filter by.", "schema": { "type": "string", "description": "The Android device to filter by." } }, { "in": "query", "name": "comments", "description": "The comments to filter by.", "schema": { "type": "string", "description": "The comments to filter by." } }, { "in": "query", "name": "withTags", "description": "If should include tags in the response. The default is `false` if not provided.", "schema": { "type": "boolean", "default": "false", "description": "If should include tags in the response. The default is `false` if not provided." } }, { "in": "query", "name": "trackConversion", "description": "If should include links with conversion tracking enabled. The default is `false` if not provided.", "schema": { "type": "boolean", "default": "false", "description": "If should include links with conversion tracking enabled. The default is `false` if not provided." } }, { "in": "query", "name": "useAsTemplate", "description": "Filter links marked as templates.", "schema": { "type": "boolean", "description": "Filter links marked as templates." } }, { "in": "query", "name": "hasPassword", "description": "Filter links that have password protection (any password)", "schema": { "type": "boolean", "description": "Filter links that have password protection (any password)" } }, { "in": "query", "name": "hasExpiration", "description": "Filter links that have expiration date (any expiration)", "schema": { "type": "boolean", "description": "Filter links that have expiration date (any expiration)" } }, { "in": "query", "name": "hasUTM", "description": "Filter links that have UTM parameters", "schema": { "type": "boolean", "description": "Filter links that have UTM parameters" } }, { "in": "query", "name": "hasCustomSocial", "description": "Filter links that have custom social media cards", "schema": { "type": "boolean", "description": "Filter links that have custom social media cards" } }, { "in": "query", "name": "hasGeo", "description": "Filter links that have geo-targeting", "schema": { "type": "boolean", "description": "Filter links that have geo-targeting" } }, { "in": "query", "name": "hasDevice", "description": "Filter links that have device targeting", "schema": { "type": "boolean", "description": "Filter links that have device targeting" } }, { "in": "query", "name": "hasComments", "description": "Filter links that have comments (any comments)", "schema": { "type": "boolean", "description": "Filter links that have comments (any comments)" } }, { "in": "query", "name": "hasTags", "description": "Filter links that have tags (any tags)", "schema": { "type": "boolean", "description": "Filter links that have tags (any tags)" } }, { "in": "query", "name": "createdAfter", "description": "Created after date (ISO string)", "schema": { "type": "string", "format": "date-time", "description": "Created after date (ISO string)" } }, { "in": "query", "name": "createdBefore", "description": "Created before date (ISO string)", "schema": { "type": "string", "format": "date-time", "description": "Created before date (ISO string)" } }, { "in": "query", "name": "expiresAfter", "description": "Expires after date (ISO string)", "schema": { "type": "string", "format": "date-time", "description": "Expires after date (ISO string)" } }, { "in": "query", "name": "expiresBefore", "description": "Expires before date (ISO string)", "schema": { "type": "string", "format": "date-time", "description": "Expires before date (ISO string)" } }, { "in": "query", "name": "clicksMin", "description": "Minimum number of clicks", "schema": { "type": "integer", "minimum": 0, "description": "Minimum number of clicks" } }, { "in": "query", "name": "clicksMax", "description": "Maximum number of clicks", "schema": { "type": "integer", "minimum": 0, "description": "Maximum number of clicks" } }, { "in": "query", "name": "utm_source", "description": "Filter by UTM source value", "schema": { "type": "string", "description": "Filter by UTM source value" } }, { "in": "query", "name": "utm_medium", "description": "Filter by UTM medium value", "schema": { "type": "string", "description": "Filter by UTM medium value" } }, { "in": "query", "name": "utm_campaign", "description": "Filter by UTM campaign value", "schema": { "type": "string", "description": "Filter by UTM campaign value" } }, { "in": "query", "name": "utm_content", "description": "Filter by UTM content value", "schema": { "type": "string", "description": "Filter by UTM content value" } }, { "in": "query", "name": "utm_term", "description": "Filter by UTM term value", "schema": { "type": "string", "description": "Filter by UTM term value" } }, { "in": "query", "name": "groupBy", "description": "The field to group the links by.", "schema": { "anyOf": [ { "type": "string", "enum": [ "domain" ] }, { "type": "string", "enum": [ "tagId" ] }, { "type": "string", "enum": [ "userId" ] }, { "type": "string", "enum": [ "folderId" ] } ], "description": "The field to group the links by." } } ], "responses": { "200": { "description": "A list of links", "content": { "application/json": { "schema": { "type": "number", "description": "The number of links matching the query." } } } }, "400": { "$ref": "#/components/responses/400" }, "401": { "$ref": "#/components/responses/401" }, "403": { "$ref": "#/components/responses/403" }, "404": { "$ref": "#/components/responses/404" }, "409": { "$ref": "#/components/responses/409" }, "410": { "$ref": "#/components/responses/410" }, "422": { "$ref": "#/components/responses/422" }, "429": { "$ref": "#/components/responses/429" }, "500": { "$ref": "#/components/responses/500" } } } },
      "/links/info":
        {
          "get":
            {
              "operationId": "getLinkInfo",
              "x-speakeasy-name-override": "get",
              "summary": "Retrieve a link",
              "description": "Retrieve the info for a link.",
              "tags": [ "Links" ],
              "security": [ { "token": [] } ],
              "parameters": [ { "in": "query", "name": "projectSlug", "description": "The slug of the project to which the link belongs. For example, for `app.codeqr.io/acme`, the projectSlug is `acme`.", "schema": { "type": "string", "minLength": 1, "description": "The slug of the project to which the link belongs. For example, for `app.codeqr.io/acme`, the projectSlug is `acme`." }, "required": true }, { "in": "query", "name": "domain", "schema": { "type": "string", "minLength": 1, "description": "The domain of the link to be retrieved. For example, for `codeqr.link/github`, the domain is `codeqr.link`." }, "required": true }, { "in": "query", "name": "key", "description": "The key of the link to be retrieved. For example, for `codeqr.link/github`, the key is `github`.", "schema": { "type": "string", "minLength": 1, "description": "The key of the link to be retrieved. For example, for `codeqr.link/github`, the key is `github`." }, "required": true }, { "in": "query", "name": "linkId", "description": "The unique ID of the short link.", "schema": { "type": "string", "description": "The unique ID of the short link.", "example": "clux0rgak00011..." } }, { "in": "query", "name": "externalId", "description": "This is the ID of the link in your database. Must be prefixed with `ext_` when passed as a query parameter.", "schema": { "type": "string", "description": "This is the ID of the link in your database. Must be prefixed with `ext_` when passed as a query parameter.", "example": "ext_123456" } } ],
              "responses": { "200": { "description": "The retrieved link", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LinkSchema" } } } }, "400": { "$ref": "#/components/responses/400" }, "401": { "$ref": "#/components/responses/401" }, "403": { "$ref": "#/components/responses/403" }, "404": { "$ref": "#/components/responses/404" }, "409": { "$ref": "#/components/responses/409" }, "410": { "$ref": "#/components/responses/410" }, "422": { "$ref": "#/components/responses/422" }, "429": { "$ref": "#/components/responses/429" }, "500": { "$ref": "#/components/responses/500" } },
              x-codeSamples:
                [
                  {
                      lang: JavaScript,
                      source: "import CodeQR from '@codeqr/ts';


                        const client = new CodeQR({

                        \  apiKey: process.env['CODEQR_API_KEY'], // This is the default and can be omitted

                        });


                        const link = await client.links.retrieveInfo({

                        \  domain: 'x',

                        \  key: 'x',

                        \  projectSlug: 'x',

                        });


                        console.log(link.id);"
                    }
                ]
            }
        },
      "/links/{linkId}":
        {
          "put":
            {
              "operationId": "updateLink",
              "x-speakeasy-name-override": "update",
              "x-speakeasy-max-method-params": 2,
              "summary": "Update a link",
              "description": "Update a link for the authenticated workspace. If there's no change, returns it as it is.",
              "tags": [ "Links" ],
              "security": [ { "token": [] } ],
              "parameters": [ { "in": "path", "name": "linkId", "description": "The id of the link to update. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`.", "schema": { "type": "string", "description": "The id of the link to update. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`." }, "required": true } ],
              "requestBody": { "content": { "application/json": { "schema": { "type": "object", "properties": { "url": { "type": "string", "description": "The destination URL of the short link.", "example": "https://google.com" }, "domain": { "type": "string", "description": "The domain of the short link. If not provided, the main domain of the project will be used (or `codeqr.link` if the project has no domains)." }, "key": { "type": "string", "description": "The slug of the short link. If not provided, a random 7-character slug will be generated." }, "externalId": { "type": "string", "nullable": true, "minLength": 1, "maxLength": 255, "description": "This is the ID of the link in your database. If set, it can be used to identify the link in the future. Must be prefixed with `ext_` when passed as a query parameter.", "example": "123456" }, "prefix": { "type": "string", "description": "The prefix of the short link slug for randomly generated keys (for example, if the prefix is `/c/`, the generated keys will be in the format `/c/:key`). Will be ignored if `key` is provided." }, "trackConversion": { "type": "boolean", "default": false, "description": "Whether to track conversions for the short link." }, "useAsTemplate": { "type": "boolean", "default": false, "description": "Whether this link should be used as a reusable template." }, "archived": { "type": "boolean", "default": false, "description": "Whether the short link is archived." }, "expiresAt": { "type": "string", "nullable": true, "format": "date-time", "description": "The date and time when the short link will expire in ISO-8601 format. Must be in the future." }, "expiredUrl": { "type": "string", "nullable": true, "description": "The URL to redirect to when the short link expires." }, "password": { "type": "string", "nullable": true, "default": null, "description": "The password required to access the short link destination URL." }, "proxy": { "type": "boolean", "default": false, "description": "Whether the short link uses the custom link preview feature." }, "title": { "type": "string", "nullable": true, "default": null, "description": "The title of the short link generated via `api.codeqr.io/metatags`. Will be used for custom link preview if `proxy` is true." }, "description": { "type": "string", "nullable": true, "default": null, "description": "The description of the short link generated via `api.codeqr.io/metatags`. Will be used for custom link preview if `proxy` is true." }, "image": { "type": "string", "nullable": true, "default": null, "description": "The image of the short link generated via `api.codeqr.io/metatags`. Will be used for custom link preview if `proxy` is true." }, "video": { "type": "string", "nullable": true, "default": null, "description": "The video of the short link." }, "rewrite": { "type": "boolean", "default": false, "description": "Whether the short link uses link cloaking." }, "ios": { "type": "string", "nullable": true, "default": null, "description": "The iOS destination URL for the short link for iOS device targeting." }, "android": { "type": "string", "nullable": true, "default": null, "description": "The Android destination URL for the short link for Android device targeting." }, "geo": { "type": "object", "nullable": true, "properties": { "AF": { "type": "string" }, "AL": { "type": "string" }, "DZ": { "type": "string" }, "AS": { "type": "string" }, "AD": { "type": "string" }, "AO": { "type": "string" }, "AI": { "type": "string" }, "AQ": { "type": "string" }, "AG": { "type": "string" }, "AR": { "type": "string" }, "AM": { "type": "string" }, "AW": { "type": "string" }, "AU": { "type": "string" }, "AT": { "type": "string" }, "AZ": { "type": "string" }, "BS": { "type": "string" }, "BH": { "type": "string" }, "BD": { "type": "string" }, "BB": { "type": "string" }, "BY": { "type": "string" }, "BE": { "type": "string" }, "BZ": { "type": "string" }, "BJ": { "type": "string" }, "BM": { "type": "string" }, "BT": { "type": "string" }, "BO": { "type": "string" }, "BA": { "type": "string" }, "BW": { "type": "string" }, "BV": { "type": "string" }, "BR": { "type": "string" }, "IO": { "type": "string" }, "BN": { "type": "string" }, "BG": { "type": "string" }, "BF": { "type": "string" }, "BI": { "type": "string" }, "KH": { "type": "string" }, "CM": { "type": "string" }, "CA": { "type": "string" }, "CV": { "type": "string" }, "KY": { "type": "string" }, "CF": { "type": "string" }, "TD": { "type": "string" }, "CL": { "type": "string" }, "CN": { "type": "string" }, "CX": { "type": "string" }, "CC": { "type": "string" }, "CO": { "type": "string" }, "KM": { "type": "string" }, "CG": { "type": "string" }, "CD": { "type": "string" }, "CK": { "type": "string" }, "CR": { "type": "string" }, "CI": { "type": "string" }, "HR": { "type": "string" }, "CU": { "type": "string" }, "CY": { "type": "string" }, "CZ": { "type": "string" }, "DK": { "type": "string" }, "DJ": { "type": "string" }, "DM": { "type": "string" }, "DO": { "type": "string" }, "EC": { "type": "string" }, "EG": { "type": "string" }, "SV": { "type": "string" }, "GQ": { "type": "string" }, "ER": { "type": "string" }, "EE": { "type": "string" }, "ET": { "type": "string" }, "FK": { "type": "string" }, "FO": { "type": "string" }, "FJ": { "type": "string" }, "FI": { "type": "string" }, "FR": { "type": "string" }, "GF": { "type": "string" }, "PF": { "type": "string" }, "TF": { "type": "string" }, "GA": { "type": "string" }, "GM": { "type": "string" }, "GE": { "type": "string" }, "DE": { "type": "string" }, "GH": { "type": "string" }, "GI": { "type": "string" }, "GR": { "type": "string" }, "GL": { "type": "string" }, "GD": { "type": "string" }, "GP": { "type": "string" }, "GU": { "type": "string" }, "GT": { "type": "string" }, "GN": { "type": "string" }, "GW": { "type": "string" }, "GY": { "type": "string" }, "HT": { "type": "string" }, "HM": { "type": "string" }, "VA": { "type": "string" }, "HN": { "type": "string" }, "HK": { "type": "string" }, "HU": { "type": "string" }, "IS": { "type": "string" }, "IN": { "type": "string" }, "ID": { "type": "string" }, "IR": { "type": "string" }, "IQ": { "type": "string" }, "IE": { "type": "string" }, "IL": { "type": "string" }, "IT": { "type": "string" }, "JM": { "type": "string" }, "JP": { "type": "string" }, "JO": { "type": "string" }, "KZ": { "type": "string" }, "KE": { "type": "string" }, "KI": { "type": "string" }, "KP": { "type": "string" }, "KR": { "type": "string" }, "KW": { "type": "string" }, "KG": { "type": "string" }, "LA": { "type": "string" }, "LV": { "type": "string" }, "LB": { "type": "string" }, "LS": { "type": "string" }, "LR": { "type": "string" }, "LY": { "type": "string" }, "LI": { "type": "string" }, "LT": { "type": "string" }, "LU": { "type": "string" }, "MO": { "type": "string" }, "MG": { "type": "string" }, "MW": { "type": "string" }, "MY": { "type": "string" }, "MV": { "type": "string" }, "ML": { "type": "string" }, "MT": { "type": "string" }, "MH": { "type": "string" }, "MQ": { "type": "string" }, "MR": { "type": "string" }, "MU": { "type": "string" }, "YT": { "type": "string" }, "MX": { "type": "string" }, "FM": { "type": "string" }, "MD": { "type": "string" }, "MC": { "type": "string" }, "MN": { "type": "string" }, "MS": { "type": "string" }, "MA": { "type": "string" }, "MZ": { "type": "string" }, "MM": { "type": "string" }, "NA": { "type": "string" }, "NR": { "type": "string" }, "NP": { "type": "string" }, "NL": { "type": "string" }, "NC": { "type": "string" }, "NZ": { "type": "string" }, "NI": { "type": "string" }, "NE": { "type": "string" }, "NG": { "type": "string" }, "NU": { "type": "string" }, "NF": { "type": "string" }, "MK": { "type": "string" }, "MP": { "type": "string" }, "NO": { "type": "string" }, "OM": { "type": "string" }, "PK": { "type": "string" }, "PW": { "type": "string" }, "PS": { "type": "string" }, "PA": { "type": "string" }, "PG": { "type": "string" }, "PY": { "type": "string" }, "PE": { "type": "string" }, "PH": { "type": "string" }, "PN": { "type": "string" }, "PL": { "type": "string" }, "PT": { "type": "string" }, "PR": { "type": "string" }, "QA": { "type": "string" }, "RE": { "type": "string" }, "RO": { "type": "string" }, "RU": { "type": "string" }, "RW": { "type": "string" }, "SH": { "type": "string" }, "KN": { "type": "string" }, "LC": { "type": "string" }, "PM": { "type": "string" }, "VC": { "type": "string" }, "WS": { "type": "string" }, "SM": { "type": "string" }, "ST": { "type": "string" }, "SA": { "type": "string" }, "SN": { "type": "string" }, "SC": { "type": "string" }, "SL": { "type": "string" }, "SG": { "type": "string" }, "SK": { "type": "string" }, "SI": { "type": "string" }, "SB": { "type": "string" }, "SO": { "type": "string" }, "ZA": { "type": "string" }, "GS": { "type": "string" }, "ES": { "type": "string" }, "LK": { "type": "string" }, "SD": { "type": "string" }, "SR": { "type": "string" }, "SJ": { "type": "string" }, "SZ": { "type": "string" }, "SE": { "type": "string" }, "CH": { "type": "string" }, "SY": { "type": "string" }, "TW": { "type": "string" }, "TJ": { "type": "string" }, "TZ": { "type": "string" }, "TH": { "type": "string" }, "TL": { "type": "string" }, "TG": { "type": "string" }, "TK": { "type": "string" }, "TO": { "type": "string" }, "TT": { "type": "string" }, "TN": { "type": "string" }, "TR": { "type": "string" }, "TM": { "type": "string" }, "TC": { "type": "string" }, "TV": { "type": "string" }, "UG": { "type": "string" }, "UA": { "type": "string" }, "AE": { "type": "string" }, "GB": { "type": "string" }, "US": { "type": "string" }, "UM": { "type": "string" }, "UY": { "type": "string" }, "UZ": { "type": "string" }, "VU": { "type": "string" }, "VE": { "type": "string" }, "VN": { "type": "string" }, "VG": { "type": "string" }, "VI": { "type": "string" }, "WF": { "type": "string" }, "EH": { "type": "string" }, "YE": { "type": "string" }, "ZM": { "type": "string" }, "ZW": { "type": "string" }, "AX": { "type": "string" }, "BQ": { "type": "string" }, "CW": { "type": "string" }, "GG": { "type": "string" }, "IM": { "type": "string" }, "JE": { "type": "string" }, "ME": { "type": "string" }, "BL": { "type": "string" }, "MF": { "type": "string" }, "RS": { "type": "string" }, "SX": { "type": "string" }, "SS": { "type": "string" }, "XK": { "type": "string" } }, "additionalProperties": false, "default": null, "description": "Geographic targeting information for the short link in JSON format `{[COUNTRY]: https://example.com }`." }, "rules": { "type": "array", "nullable": true, "items": { "type": "object", "properties": { "attribute": { "type": "string", "enum": [ "device", "country", "utm_source", "utm_medium", "utm_campaign", "referrer", "language", "city", "region", "continent", "utm_term", "utm_content" ] }, "operator": { "type": "string", "enum": [ "equals", "not_equals" ] }, "value": { "type": "string", "minLength": 1, "maxLength": 190 }, "url": { "type": "string" } }, "required": [ "attribute", "operator", "value", "url" ] }, "maxItems": 20, "description": "Smart rules for conditional destination routing by request attribute." }, "doIndex": { "type": "boolean", "default": false, "description": "Allow search engines to index your short link. Default is `false` if not provided. Learn more: https://codeqr.link/noindex" }, "webhookIds": { "type": "array", "nullable": true, "items": { "type": "string" }, "description": "An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data." }, "publicStats": { "type": "boolean", "default": false, "description": "Whether the short link statistics are publicly accessible." }, "tagId": { "type": "string", "nullable": true, "description": "The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead.", "deprecated": true }, "tagIds": { "anyOf": [ { "type": "string" }, { "type": "array", "items": { "type": "string" } } ], "description": "The unique IDs of the tags assigned to the short link.", "example": [ "clux0rgak00011..." ] }, "tagNames": { "anyOf": [ { "type": "string" }, { "type": "array", "items": { "type": "string" } } ], "description": "The unique name of the tags assigned to the short link (case insensitive)." }, "folderId": { "type": "string", "nullable": true, "description": "The unique ID existing folder to assign the short link to." }, "comments": { "type": "string", "nullable": true, "description": "The comments for the short link." }, "flexible": { "type": "boolean", "default": false, "description": "Whether the short link is flexible." }, "preRedirection": { "type": "boolean", "default": false, "description": "Whether the short link has pre-redirection." }, "pageId": { "type": "string", "nullable": true, "description": "The ID of the page to redirect to before the link destination." }, "pageUrl": { "type": "string", "nullable": true, "description": "The URL of the page to redirect to before the link destination." }, "isFormMandatory": { "type": "boolean", "default": false, "description": "If the form is mandatory for the page." } } } } } },
              "responses": { "200": { "description": "The updated link", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LinkSchema" } } } }, "400": { "$ref": "#/components/responses/400" }, "401": { "$ref": "#/components/responses/401" }, "403": { "$ref": "#/components/responses/403" }, "404": { "$ref": "#/components/responses/404" }, "409": { "$ref": "#/components/responses/409" }, "410": { "$ref": "#/components/responses/410" }, "422": { "$ref": "#/components/responses/422" }, "429": { "$ref": "#/components/responses/429" }, "500": { "$ref": "#/components/responses/500" } },
              x-codeSamples:
                [
                  {
                      lang: JavaScript,
                      source: "import CodeQR from '@codeqr/ts';


                        const client = new CodeQR({

                        \  apiKey: process.env['CODEQR_API_KEY'], // This is the default and can be omitted

                        });


                        const link = await client.links.update('linkId');


                        console.log(link.id);"
                    }
                ]
            },
          "delete":
            {
              "operationId": "deleteLink",
              "x-speakeasy-name-override": "delete",
              "x-speakeasy-max-method-params": 1,
              "summary": "Delete a link",
              "description": "Delete a link for the authenticated workspace.",
              "tags": [ "Links" ],
              "security": [ { "token": [] } ],
              "parameters": [ { "in": "path", "name": "linkId", "description": "The id of the link to delete. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`.", "schema": { "type": "string", "description": "The id of the link to delete. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`." }, "required": true } ],
              "responses": { "200": { "description": "The deleted link ID.", "content": { "application/json": { "schema": { "type": "object", "properties": { "id": { "type": "string", "description": "The ID of the link." } }, "required": [ "id" ] } } } }, "400": { "$ref": "#/components/responses/400" }, "401": { "$ref": "#/components/responses/401" }, "403": { "$ref": "#/components/responses/403" }, "404": { "$ref": "#/components/responses/404" }, "409": { "$ref": "#/components/responses/409" }, "410": { "$ref": "#/components/responses/410" }, "422": { "$ref": "#/components/responses/422" }, "429": { "$ref": "#/components/responses/429" }, "500": { "$ref": "#/components/responses/500" } },
              x-codeSamples:
                [
                  {
                      lang: JavaScript,
                      source: "import CodeQR from '@codeqr/ts';


                        const client = new CodeQR({

                        \  apiKey: process.env['CODEQR_API_KEY'], // This is the default and can be omitted

                        });


                        const link = await client.links.delete('linkId');


                        console.log(link.id);"
                    }
                ]
            }
        },
      "/links/bulk":
        {
          "post":
            {
              "operationId": "bulkCreateLinks",
              "x-speakeasy-name-override": "createMany",
              "summary": "Bulk create links",
              "description": "Bulk create up to 100 links for the authenticated workspace.",
              "tags": [ "Links" ],
              "security": [ { "token": [] } ],
              "requestBody": { "content": { "application/json": { "schema": { "type": "array", "items": { "type": "object", "properties": { "url": { "type": "string", "description": "The destination URL of the short link.", "example": "https://google.com" }, "domain": { "type": "string", "description": "The domain of the short link. If not provided, the main domain of the project will be used (or `codeqr.link` if the project has no domains)." }, "key": { "type": "string", "description": "The slug of the short link. If not provided, a random 7-character slug will be generated." }, "externalId": { "type": "string", "nullable": true, "minLength": 1, "maxLength": 255, "description": "This is the ID of the link in your database. If set, it can be used to identify the link in the future. Must be prefixed with `ext_` when passed as a query parameter.", "example": "123456" }, "prefix": { "type": "string", "description": "The prefix of the short link slug for randomly generated keys (for example, if the prefix is `/c/`, the generated keys will be in the format `/c/:key`). Will be ignored if `key` is provided." }, "trackConversion": { "type": "boolean", "default": false, "description": "Whether to track conversions for the short link." }, "useAsTemplate": { "type": "boolean", "default": false, "description": "Whether this link should be used as a reusable template." }, "archived": { "type": "boolean", "default": false, "description": "Whether the short link is archived." }, "expiresAt": { "type": "string", "nullable": true, "format": "date-time", "description": "The date and time when the short link will expire in ISO-8601 format. Must be in the future." }, "expiredUrl": { "type": "string", "nullable": true, "description": "The URL to redirect to when the short link expires." }, "password": { "type": "string", "nullable": true, "default": null, "description": "The password required to access the short link destination URL." }, "proxy": { "type": "boolean", "default": false, "description": "Whether the short link uses the custom link preview feature." }, "title": { "type": "string", "nullable": true, "default": null, "description": "The title of the short link generated via `api.codeqr.io/metatags`. Will be used for custom link preview if `proxy` is true." }, "description": { "type": "string", "nullable": true, "default": null, "description": "The description of the short link generated via `api.codeqr.io/metatags`. Will be used for custom link preview if `proxy` is true." }, "image": { "type": "string", "nullable": true, "default": null, "description": "The image of the short link generated via `api.codeqr.io/metatags`. Will be used for custom link preview if `proxy` is true." }, "video": { "type": "string", "nullable": true, "default": null, "description": "The video of the short link." }, "rewrite": { "type": "boolean", "default": false, "description": "Whether the short link uses link cloaking." }, "ios": { "type": "string", "nullable": true, "default": null, "description": "The iOS destination URL for the short link for iOS device targeting." }, "android": { "type": "string", "nullable": true, "default": null, "description": "The Android destination URL for the short link for Android device targeting." }, "geo": { "type": "object", "nullable": true, "properties": { "AF": { "type": "string" }, "AL": { "type": "string" }, "DZ": { "type": "string" }, "AS": { "type": "string" }, "AD": { "type": "string" }, "AO": { "type": "string" }, "AI": { "type": "string" }, "AQ": { "type": "string" }, "AG": { "type": "string" }, "AR": { "type": "string" }, "AM": { "type": "string" }, "AW": { "type": "string" }, "AU": { "type": "string" }, "AT": { "type": "string" }, "AZ": { "type": "string" }, "BS": { "type": "string" }, "BH": { "type": "string" }, "BD": { "type": "string" }, "BB": { "type": "string" }, "BY": { "type": "string" }, "BE": { "type": "string" }, "BZ": { "type": "string" }, "BJ": { "type": "string" }, "BM": { "type": "string" }, "BT": { "type": "string" }, "BO": { "type": "string" }, "BA": { "type": "string" }, "BW": { "type": "string" }, "BV": { "type": "string" }, "BR": { "type": "string" }, "IO": { "type": "string" }, "BN": { "type": "string" }, "BG": { "type": "string" }, "BF": { "type": "string" }, "BI": { "type": "string" }, "KH": { "type": "string" }, "CM": { "type": "string" }, "CA": { "type": "string" }, "CV": { "type": "string" }, "KY": { "type": "string" }, "CF": { "type": "string" }, "TD": { "type": "string" }, "CL": { "type": "string" }, "CN": { "type": "string" }, "CX": { "type": "string" }, "CC": { "type": "string" }, "CO": { "type": "string" }, "KM": { "type": "string" }, "CG": { "type": "string" }, "CD": { "type": "string" }, "CK": { "type": "string" }, "CR": { "type": "string" }, "CI": { "type": "string" }, "HR": { "type": "string" }, "CU": { "type": "string" }, "CY": { "type": "string" }, "CZ": { "type": "string" }, "DK": { "type": "string" }, "DJ": { "type": "string" }, "DM": { "type": "string" }, "DO": { "type": "string" }, "EC": { "type": "string" }, "EG": { "type": "string" }, "SV": { "type": "string" }, "GQ": { "type": "string" }, "ER": { "type": "string" }, "EE": { "type": "string" }, "ET": { "type": "string" }, "FK": { "type": "string" }, "FO": { "type": "string" }, "FJ": { "type": "string" }, "FI": { "type": "string" }, "FR": { "type": "string" }, "GF": { "type": "string" }, "PF": { "type": "string" }, "TF": { "type": "string" }, "GA": { "type": "string" }, "GM": { "type": "string" }, "GE": { "type": "string" }, "DE": { "type": "string" }, "GH": { "type": "string" }, "GI": { "type": "string" }, "GR": { "type": "string" }, "GL": { "type": "string" }, "GD": { "type": "string" }, "GP": { "type": "string" }, "GU": { "type": "string" }, "GT": { "type": "string" }, "GN": { "type": "string" }, "GW": { "type": "string" }, "GY": { "type": "string" }, "HT": { "type": "string" }, "HM": { "type": "string" }, "VA": { "type": "string" }, "HN": { "type": "string" }, "HK": { "type": "string" }, "HU": { "type": "string" }, "IS": { "type": "string" }, "IN": { "type": "string" }, "ID": { "type": "string" }, "IR": { "type": "string" }, "IQ": { "type": "string" }, "IE": { "type": "string" }, "IL": { "type": "string" }, "IT": { "type": "string" }, "JM": { "type": "string" }, "JP": { "type": "string" }, "JO": { "type": "string" }, "KZ": { "type": "string" }, "KE": { "type": "string" }, "KI": { "type": "string" }, "KP": { "type": "string" }, "KR": { "type": "string" }, "KW": { "type": "string" }, "KG": { "type": "string" }, "LA": { "type": "string" }, "LV": { "type": "string" }, "LB": { "type": "string" }, "LS": { "type": "string" }, "LR": { "type": "string" }, "LY": { "type": "string" }, "LI": { "type": "string" }, "LT": { "type": "string" }, "LU": { "type": "string" }, "MO": { "type": "string" }, "MG": { "type": "string" }, "MW": { "type": "string" }, "MY": { "type": "string" }, "MV": { "type": "string" }, "ML": { "type": "string" }, "MT": { "type": "string" }, "MH": { "type": "string" }, "MQ": { "type": "string" }, "MR": { "type": "string" }, "MU": { "type": "string" }, "YT": { "type": "string" }, "MX": { "type": "string" }, "FM": { "type": "string" }, "MD": { "type": "string" }, "MC": { "type": "string" }, "MN": { "type": "string" }, "MS": { "type": "string" }, "MA": { "type": "string" }, "MZ": { "type": "string" }, "MM": { "type": "string" }, "NA": { "type": "string" }, "NR": { "type": "string" }, "NP": { "type": "string" }, "NL": { "type": "string" }, "NC": { "type": "string" }, "NZ": { "type": "string" }, "NI": { "type": "string" }, "NE": { "type": "string" }, "NG": { "type": "string" }, "NU": { "type": "string" }, "NF": { "type": "string" }, "MK": { "type": "string" }, "MP": { "type": "string" }, "NO": { "type": "string" }, "OM": { "type": "string" }, "PK": { "type": "string" }, "PW": { "type": "string" }, "PS": { "type": "string" }, "PA": { "type": "string" }, "PG": { "type": "string" }, "PY": { "type": "string" }, "PE": { "type": "string" }, "PH": { "type": "string" }, "PN": { "type": "string" }, "PL": { "type": "string" }, "PT": { "type": "string" }, "PR": { "type": "string" }, "QA": { "type": "string" }, "RE": { "type": "string" }, "RO": { "type": "string" }, "RU": { "type": "string" }, "RW": { "type": "string" }, "SH": { "type": "string" }, "KN": { "type": "string" }, "LC": { "type": "string" }, "PM": { "type": "string" }, "VC": { "type": "string" }, "WS": { "type": "string" }, "SM": { "type": "string" }, "ST": { "type": "string" }, "SA": { "type": "string" }, "SN": { "type": "string" }, "SC": { "type": "string" }, "SL": { "type": "string" }, "SG": { "type": "string" }, "SK": { "type": "string" }, "SI": { "type": "string" }, "SB": { "type": "string" }, "SO": { "type": "string" }, "ZA": { "type": "string" }, "GS": { "type": "string" }, "ES": { "type": "string" }, "LK": { "type": "string" }, "SD": { "type": "string" }, "SR": { "type": "string" }, "SJ": { "type": "string" }, "SZ": { "type": "string" }, "SE": { "type": "string" }, "CH": { "type": "string" }, "SY": { "type": "string" }, "TW": { "type": "string" }, "TJ": { "type": "string" }, "TZ": { "type": "string" }, "TH": { "type": "string" }, "TL": { "type": "string" }, "TG": { "type": "string" }, "TK": { "type": "string" }, "TO": { "type": "string" }, "TT": { "type": "string" }, "TN": { "type": "string" }, "TR": { "type": "string" }, "TM": { "type": "string" }, "TC": { "type": "string" }, "TV": { "type": "string" }, "UG": { "type": "string" }, "UA": { "type": "string" }, "AE": { "type": "string" }, "GB": { "type": "string" }, "US": { "type": "string" }, "UM": { "type": "string" }, "UY": { "type": "string" }, "UZ": { "type": "string" }, "VU": { "type": "string" }, "VE": { "type": "string" }, "VN": { "type": "string" }, "VG": { "type": "string" }, "VI": { "type": "string" }, "WF": { "type": "string" }, "EH": { "type": "string" }, "YE": { "type": "string" }, "ZM": { "type": "string" }, "ZW": { "type": "string" }, "AX": { "type": "string" }, "BQ": { "type": "string" }, "CW": { "type": "string" }, "GG": { "type": "string" }, "IM": { "type": "string" }, "JE": { "type": "string" }, "ME": { "type": "string" }, "BL": { "type": "string" }, "MF": { "type": "string" }, "RS": { "type": "string" }, "SX": { "type": "string" }, "SS": { "type": "string" }, "XK": { "type": "string" } }, "additionalProperties": false, "default": null, "description": "Geographic targeting information for the short link in JSON format `{[COUNTRY]: https://example.com }`." }, "rules": { "type": "array", "nullable": true, "items": { "type": "object", "properties": { "attribute": { "type": "string", "enum": [ "device", "country", "utm_source", "utm_medium", "utm_campaign", "referrer", "language", "city", "region", "continent", "utm_term", "utm_content" ] }, "operator": { "type": "string", "enum": [ "equals", "not_equals" ] }, "value": { "type": "string", "minLength": 1, "maxLength": 190 }, "url": { "type": "string" } }, "required": [ "attribute", "operator", "value", "url" ] }, "maxItems": 20, "description": "Smart rules for conditional destination routing by request attribute." }, "doIndex": { "type": "boolean", "default": false, "description": "Allow search engines to index your short link. Default is `false` if not provided. Learn more: https://codeqr.link/noindex" }, "webhookIds": { "type": "array", "nullable": true, "items": { "type": "string" }, "description": "An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data." }, "publicStats": { "type": "boolean", "default": false, "description": "Whether the short link statistics are publicly accessible." }, "tagId": { "type": "string", "nullable": true, "description": "The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead.", "deprecated": true }, "tagIds": { "anyOf": [ { "type": "string" }, { "type": "array", "items": { "type": "string" } } ], "description": "The unique IDs of the tags assigned to the short link.", "example": [ "clux0rgak00011..." ] }, "tagNames": { "anyOf": [ { "type": "string" }, { "type": "array", "items": { "type": "string" } } ], "description": "The unique name of the tags assigned to the short link (case insensitive)." }, "folderId": { "type": "string", "nullable": true, "description": "The unique ID existing folder to assign the short link to." }, "comments": { "type": "string", "nullable": true, "description": "The comments for the short link." }, "flexible": { "type": "boolean", "default": false, "description": "Whether the short link is flexible." }, "preRedirection": { "type": "boolean", "default": false, "description": "Whether the short link has pre-redirection." }, "pageId": { "type": "string", "nullable": true, "description": "The ID of the page to redirect to before the link destination." }, "pageUrl": { "type": "string", "nullable": true, "description": "The URL of the page to redirect to before the link destination." }, "isFormMandatory": { "type": "boolean", "default": false, "description": "If the form is mandatory for the page." } }, "required": [ "url" ] } } } } },
              "responses": { "200": { "description": "The created links", "content": { "application/json": { "schema": { "type": "array", "items": { "oneOf": [ { "$ref": "#/components/schemas/LinkSchema" }, { "$ref": "#/components/schemas/LinkErrorSchema" } ] } } } } }, "400": { "$ref": "#/components/responses/400" }, "401": { "$ref": "#/components/responses/401" }, "403": { "$ref": "#/components/responses/403" }, "404": { "$ref": "#/components/responses/404" }, "409": { "$ref": "#/components/responses/409" }, "410": { "$ref": "#/components/responses/410" }, "422": { "$ref": "#/components/responses/422" }, "429": { "$ref": "#/components/responses/429" }, "500": { "$ref": "#/components/responses/500" } },
              x-codeSamples:
                [
                  {
                      lang: JavaScript,
                      source: "import CodeQR from '@codeqr/ts';


                        const client = new CodeQR({

                        \  apiKey: process.env['CODEQR_API_KEY'], // This is the default and can be omitted

                        });


                        const bulks = await client.links.bulk.create();


                        console.log(bulks);"
                    }
                ]
            },
          "delete": { "operationId": "bulkDeleteLinks", "x-speakeasy-name-override": "deleteMany", "summary": "Bulk delete links", "description": "Bulk delete up to 100 links for the authenticated workspace.", "tags": [ "Links" ], "security": [ { "token": [] } ], "parameters": [ { "in": "query", "name": "linkIds", "description": "Comma-separated list of link IDs to delete. Maximum of 100 IDs. Non-existing IDs will be ignored.", "explode": false, "style": "form", "schema": { "type": "array", "items": { "type": "string" }, "description": "Comma-separated list of link IDs to delete. Maximum of 100 IDs. Non-existing IDs will be ignored.", "example": [ "clux0rgak00011...", "clux0rgak00022..." ] }, "required": true } ], "responses": { "200": { "description": "The deleted links count.", "content": { "application/json": { "schema": { "type": "object", "properties": { "deletedCount": { "type": "number", "description": "The number of links deleted." } }, "required": [ "deletedCount" ] } } } }, "400": { "$ref": "#/components/responses/400" }, "401": { "$ref": "#/components/responses/401" }, "403": { "$ref": "#/components/responses/403" }, "404": { "$ref": "#/components/responses/404" }, "409": { "$ref": "#/components/responses/409" }, "410": { "$ref": "#/components/responses/410" }, "422": { "$ref": "#/components/responses/422" }, "429": { "$ref": "#/components/responses/429" }, "500": { "$ref": "#/components/responses/500" } } }
        },
      "/qrcodes":
        {
          "post":
            {
              "operationId": "createQRCode",
              "x-speakeasy-name-override": "create",
              "x-speakeasy-usage-example": true,
              "summary": "Create a new QR Code",
              "description": "Create a new QR Code for the authenticated workspace.",
              "tags": [ "QR Codes" ],
              "security": [ { "token": [] } ],
              "requestBody": { "content": { "application/json": { "schema": { "type": "object", "properties": { "domain": { "type": "string", "description": "The domain of the QR code. If not provided, the main domain of the project will be used (or `codeqr.link` if the project does not have domains)." }, "key": { "type": "string", "description": "The slug of the QR code. If not provided, a random slug of 7 characters will be generated." }, "prefix": { "type": "string", "description": "The prefix for the randomly generated key. If provided, the key will be prefixed with this value." }, "externalId": { "type": "string", "nullable": true, "minLength": 1, "maxLength": 255, "description": "This is the ID of the QR code in your database. If defined, it can be used to identify the QR code in the future. It must be prefixed with `ext_` when passed as a query parameter.", "example": "123456" }, "trackConversion": { "type": "boolean", "default": false, "description": "If should track conversions for the QR code." }, "templateId": { "type": "string", "nullable": true, "description": "ID of a QR code (in the same project) marked as a template. Its customization fields (colors, logo, pattern, shape, frame) will be applied to the new QR code unless explicitly overridden." }, "useAsTemplate": { "type": "boolean", "default": false, "description": "Whether this QR code should be used as a reusable template." }, "archived": { "type": "boolean", "default": false, "description": "If the QR code is archived." }, "expiresAt": { "type": "string", "nullable": true, "format": "date-time", "description": "The date and time the QR code will expire in ISO-8601 format. Must be in the future." }, "expiredUrl": { "type": "string", "nullable": true, "description": "The URL to redirect when the QR code expires." }, "password": { "type": "string", "nullable": true, "description": "The password required to access the destination URL of the QR code." }, "proxy": { "type": "boolean", "default": false, "description": "If the QR code uses the custom link preview feature." }, "title": { "type": "string", "nullable": true, "description": "The title of the QR code generated via `api.codeqr.io/metatags`. Will be used for custom link preview if `proxy` is true." }, "description": { "type": "string", "nullable": true, "description": "The description of the QR code generated via `api.codeqr.io/metatags`. Will be used for custom link preview if `proxy` is true." }, "image": { "type": "string", "nullable": true, "description": "The image of the QR code generated via `api.codeqr.io/metatags`. Will be used for custom link preview if `proxy` is true." }, "rewrite": { "type": "boolean", "default": false, "description": "If the QR code uses link cloaking." }, "ios": { "type": "string", "nullable": true, "description": "The destination URL for iOS for the QR code for device targeting iOS." }, "android": { "type": "string", "nullable": true, "description": "The destination URL for Android for the QR code for device targeting Android." }, "geo": { "type": "object", "nullable": true, "properties": { "AF": { "type": "string" }, "AL": { "type": "string" }, "DZ": { "type": "string" }, "AS": { "type": "string" }, "AD": { "type": "string" }, "AO": { "type": "string" }, "AI": { "type": "string" }, "AQ": { "type": "string" }, "AG": { "type": "string" }, "AR": { "type": "string" }, "AM": { "type": "string" }, "AW": { "type": "string" }, "AU": { "type": "string" }, "AT": { "type": "string" }, "AZ": { "type": "string" }, "BS": { "type": "string" }, "BH": { "type": "string" }, "BD": { "type": "string" }, "BB": { "type": "string" }, "BY": { "type": "string" }, "BE": { "type": "string" }, "BZ": { "type": "string" }, "BJ": { "type": "string" }, "BM": { "type": "string" }, "BT": { "type": "string" }, "BO": { "type": "string" }, "BA": { "type": "string" }, "BW": { "type": "string" }, "BV": { "type": "string" }, "BR": { "type": "string" }, "IO": { "type": "string" }, "BN": { "type": "string" }, "BG": { "type": "string" }, "BF": { "type": "string" }, "BI": { "type": "string" }, "KH": { "type": "string" }, "CM": { "type": "string" }, "CA": { "type": "string" }, "CV": { "type": "string" }, "KY": { "type": "string" }, "CF": { "type": "string" }, "TD": { "type": "string" }, "CL": { "type": "string" }, "CN": { "type": "string" }, "CX": { "type": "string" }, "CC": { "type": "string" }, "CO": { "type": "string" }, "KM": { "type": "string" }, "CG": { "type": "string" }, "CD": { "type": "string" }, "CK": { "type": "string" }, "CR": { "type": "string" }, "CI": { "type": "string" }, "HR": { "type": "string" }, "CU": { "type": "string" }, "CY": { "type": "string" }, "CZ": { "type": "string" }, "DK": { "type": "string" }, "DJ": { "type": "string" }, "DM": { "type": "string" }, "DO": { "type": "string" }, "EC": { "type": "string" }, "EG": { "type": "string" }, "SV": { "type": "string" }, "GQ": { "type": "string" }, "ER": { "type": "string" }, "EE": { "type": "string" }, "ET": { "type": "string" }, "FK": { "type": "string" }, "FO": { "type": "string" }, "FJ": { "type": "string" }, "FI": { "type": "string" }, "FR": { "type": "string" }, "GF": { "type": "string" }, "PF": { "type": "string" }, "TF": { "type": "string" }, "GA": { "type": "string" }, "GM": { "type": "string" }, "GE": { "type": "string" }, "DE": { "type": "string" }, "GH": { "type": "string" }, "GI": { "type": "string" }, "GR": { "type": "string" }, "GL": { "type": "string" }, "GD": { "type": "string" }, "GP": { "type": "string" }, "GU": { "type": "string" }, "GT": { "type": "string" }, "GN": { "type": "string" }, "GW": { "type": "string" }, "GY": { "type": "string" }, "HT": { "type": "string" }, "HM": { "type": "string" }, "VA": { "type": "string" }, "HN": { "type": "string" }, "HK": { "type": "string" }, "HU": { "type": "string" }, "IS": { "type": "string" }, "IN": { "type": "string" }, "ID": { "type": "string" }, "IR": { "type": "string" }, "IQ": { "type": "string" }, "IE": { "type": "string" }, "IL": { "type": "string" }, "IT": { "type": "string" }, "JM": { "type": "string" }, "JP": { "type": "string" }, "JO": { "type": "string" }, "KZ": { "type": "string" }, "KE": { "type": "string" }, "KI": { "type": "string" }, "KP": { "type": "string" }, "KR": { "type": "string" }, "KW": { "type": "string" }, "KG": { "type": "string" }, "LA": { "type": "string" }, "LV": { "type": "string" }, "LB": { "type": "string" }, "LS": { "type": "string" }, "LR": { "type": "string" }, "LY": { "type": "string" }, "LI": { "type": "string" }, "LT": { "type": "string" }, "LU": { "type": "string" }, "MO": { "type": "string" }, "MG": { "type": "string" }, "MW": { "type": "string" }, "MY": { "type": "string" }, "MV": { "type": "string" }, "ML": { "type": "string" }, "MT": { "type": "string" }, "MH": { "type": "string" }, "MQ": { "type": "string" }, "MR": { "type": "string" }, "MU": { "type": "string" }, "YT": { "type": "string" }, "MX": { "type": "string" }, "FM": { "type": "string" }, "MD": { "type": "string" }, "MC": { "type": "string" }, "MN": { "type": "string" }, "MS": { "type": "string" }, "MA": { "type": "string" }, "MZ": { "type": "string" }, "MM": { "type": "string" }, "NA": { "type": "string" }, "NR": { "type": "string" }, "NP": { "type": "string" }, "NL": { "type": "string" }, "NC": { "type": "string" }, "NZ": { "type": "string" }, "NI": { "type": "string" }, "NE": { "type": "string" }, "NG": { "type": "string" }, "NU": { "type": "string" }, "NF": { "type": "string" }, "MK": { "type": "string" }, "MP": { "type": "string" }, "NO": { "type": "string" }, "OM": { "type": "string" }, "PK": { "type": "string" }, "PW": { "type": "string" }, "PS": { "type": "string" }, "PA": { "type": "string" }, "PG": { "type": "string" }, "PY": { "type": "string" }, "PE": { "type": "string" }, "PH": { "type": "string" }, "PN": { "type": "string" }, "PL": { "type": "string" }, "PT": { "type": "string" }, "PR": { "type": "string" }, "QA": { "type": "string" }, "RE": { "type": "string" }, "RO": { "type": "string" }, "RU": { "type": "string" }, "RW": { "type": "string" }, "SH": { "type": "string" }, "KN": { "type": "string" }, "LC": { "type": "string" }, "PM": { "type": "string" }, "VC": { "type": "string" }, "WS": { "type": "string" }, "SM": { "type": "string" }, "ST": { "type": "string" }, "SA": { "type": "string" }, "SN": { "type": "string" }, "SC": { "type": "string" }, "SL": { "type": "string" }, "SG": { "type": "string" }, "SK": { "type": "string" }, "SI": { "type": "string" }, "SB": { "type": "string" }, "SO": { "type": "string" }, "ZA": { "type": "string" }, "GS": { "type": "string" }, "ES": { "type": "string" }, "LK": { "type": "string" }, "SD": { "type": "string" }, "SR": { "type": "string" }, "SJ": { "type": "string" }, "SZ": { "type": "string" }, "SE": { "type": "string" }, "CH": { "type": "string" }, "SY": { "type": "string" }, "TW": { "type": "string" }, "TJ": { "type": "string" }, "TZ": { "type": "string" }, "TH": { "type": "string" }, "TL": { "type": "string" }, "TG": { "type": "string" }, "TK": { "type": "string" }, "TO": { "type": "string" }, "TT": { "type": "string" }, "TN": { "type": "string" }, "TR": { "type": "string" }, "TM": { "type": "string" }, "TC": { "type": "string" }, "TV": { "type": "string" }, "UG": { "type": "string" }, "UA": { "type": "string" }, "AE": { "type": "string" }, "GB": { "type": "string" }, "US": { "type": "string" }, "UM": { "type": "string" }, "UY": { "type": "string" }, "UZ": { "type": "string" }, "VU": { "type": "string" }, "VE": { "type": "string" }, "VN": { "type": "string" }, "VG": { "type": "string" }, "VI": { "type": "string" }, "WF": { "type": "string" }, "EH": { "type": "string" }, "YE": { "type": "string" }, "ZM": { "type": "string" }, "ZW": { "type": "string" }, "AX": { "type": "string" }, "BQ": { "type": "string" }, "CW": { "type": "string" }, "GG": { "type": "string" }, "IM": { "type": "string" }, "JE": { "type": "string" }, "ME": { "type": "string" }, "BL": { "type": "string" }, "MF": { "type": "string" }, "RS": { "type": "string" }, "SX": { "type": "string" }, "SS": { "type": "string" }, "XK": { "type": "string" } }, "additionalProperties": false, "description": "Geographic segmentation information for the QR code in the JSON format `{[COUNTRY]: https://example.com }`." }, "rules": { "type": "array", "nullable": true, "items": { "type": "object", "properties": { "attribute": { "type": "string", "enum": [ "device", "country", "utm_source", "utm_medium", "utm_campaign", "referrer", "language", "city", "region", "continent", "utm_term", "utm_content" ] }, "operator": { "type": "string", "enum": [ "equals", "not_equals" ] }, "value": { "type": "string", "minLength": 1, "maxLength": 190 }, "url": { "type": "string" } }, "required": [ "attribute", "operator", "value", "url" ] }, "maxItems": 20, "description": "Smart rules for conditional destination routing by request attribute." }, "doIndex": { "type": "boolean", "default": false, "description": "Allow search engines to index your QR code. The default is `false` if not provided. Learn more: https://codeqr.link/noindex" }, "webhookIds": { "type": "array", "nullable": true, "items": { "type": "string" }, "description": "An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data." }, "publicStats": { "type": "boolean", "default": false, "description": "If the statistics of the QR code are publicly accessible." }, "tagId": { "type": "string", "nullable": true, "description": "The unique ID of the tag assigned to the QR code. This field is deprecated – use `tagIds` instead.", "deprecated": true }, "tagIds": { "anyOf": [ { "type": "string" }, { "type": "array", "items": { "type": "string" } } ], "description": "The unique IDs of the tags assigned to the QR code.", "example": [ "clux0rgak00011..." ] }, "tagNames": { "anyOf": [ { "type": "string" }, { "type": "array", "items": { "type": "string" } } ], "description": "The unique name of the tags assigned to the QR code (case insensitive)." }, "folderId": { "type": "string", "nullable": true, "description": "The unique ID of the folder assigned to the QR code. Omit or set to null for no folder." }, "comments": { "type": "string", "nullable": true, "description": "The comments for the QR code." }, "flexible": { "type": "boolean", "default": false, "description": "If the QR code is flexible." }, "filled": { "type": "boolean", "default": false, "description": "If the QR code is filled." }, "static": { "type": "boolean", "default": false, "description": "If the QR code is static." }, "useDisplayPage": { "type": "boolean", "default": true, "description": "For dynamic QR codes with phone, email, or sms types: if true (default), shows an action page with buttons. If false, redirects directly to tel:/mailto:/sms: URI." }, "type": { "type": "string", "enum": [ "url", "text", "email", "wifi", "phone", "vcard", "crypto", "sms", "facetime", "geo", "latlog", "pix", "whatsapp" ], "description": "The type of content of the QR code." }, "text": { "type": "string", "nullable": true, "description": "The text of the QR code." }, "email": { "type": "object", "nullable": true, "additionalProperties": { "type": "string" }, "description": "The email information of the QR code." }, "wifi": { 
[...]
